.w {
  container-type: inline-size;
}

.r {
  display: grid;
  grid-template-columns: var(--cols);

  @container (min-width: 576px) and (max-width: 1199px) {
    grid-template-columns: var(--tablet-cols);
  }

  @container (max-width: 575px) {
    grid-template-columns: var(--mobile-cols);
  }
}

.c {
  box-sizing: border-box;
}

.c:has(> .wide) {
  grid-column: 1 / -1;
}

.wide {
}

.equalHeight > .c {
  height: 100%;
}

.equalHeight > .c > * {
  height: 100%;
}
