name: pipeline
on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones are disabled for a better relevancy of SonarCloud analysis
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build
        run: yarn build-all
        env:
          CI: true
      - name: Test
        run: yarn test-sonarqube
      - name: Archive test results
        uses: actions/upload-artifact@v2
        with:
          name: test-reports
          path: |
            packages/**/test-report.xml
            packages/**/coverage
  quality:
    needs: build-and-test
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    strategy:
      matrix:
        package: [easy, easy-express, easy-mssql, easy-mongo, easy-test, easy-test-react, easy-test-web]
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: test-reports
      - name: SonarCloud Scan ${{ matrix.package }}
        uses: sonarsource/sonarcloud-github-action@master
        with:
          projectBaseDir: packages/${{ matrix.package }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  release:
    needs: [build-and-test, quality]
    runs-on: ubuntu-latest
    environment: production
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
          npm config set scripts-prepend-node-path true
          yarn release
